@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffbe7c;
}

header {
    background-color: #ffa252;
    padding: 0.1em;
}

nav {
    display: flex;
    justify-content: space-between;
}

.ul-nav {
    display: flex;
    list-style: none;
    box-sizing: border-box;
}

.ul-nav > li {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border: 1px solid #ffbe7c;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.ul-nav > li > a {
    text-decoration: none;
    color: black;
}

main {
    box-sizing: content-box;
    padding: 20px 1em;
}

h1 {
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #eed872;
    padding: 1em;
    margin: 0;
}