<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TskTsk</title>
</head>
<body>
    <!-- NAV -->
    <nav>
        <ul>
            <li><a id="projects-a" href="/projects">Projects</a></li>
            <li><a id="services-a" href="/services">Services</a></li>
            <li><a id="resources-a" href="/resources">Resources</a></li>
            <li><a id="templates-a" href="/templates">Templates</a></li>
            <li><a id="templates-a" href="/tests">Tests</a></li>
        </ul>
    </nav>

    <!-- HEADER -->
    <header>

    </header>        
    
    <!-- BODY -->
    <main>
        {{{body}}}
    </main>
        
    <!-- FOOTER -->
    <footer>
    
    </footer>
    
    <!-- SCRIPTS -->
    <script type="text/javascript" src="src/classes/timer.js"></script>

</body>
</html>