<!-- SECTION PROJECTS -->
<section id="projects">

    <!-- SECTION PROJECTS - PROJECTS -->
    <section id="project-details">
        <table id="projects-table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Details</th>
                    <th>Resources</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" id="project1">
                    <td>Project1</td>
                    <td>The first test project</td>
                    <td>RC 100%</td>
                    <td>5%</td>
                    <td>In Progress</td>
                </tr>
                <tr class="clickable-row" id="project2">
                    <td>Project2</td>
                    <td>The second test project</td>
                    <td>RC 80%</td>
                    <td>0%</td>
                    <td>Not Started</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- SECTION PROJECTS - PROJECT - TASKS -->
    <section id="project1-tasks" hidden>
        <table id="tasks-table">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Details</th>
                    <th>Duration</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" id="project1-task1">
                    <td>Task1 Project1</td>
                    <td>The first test task</td>
                    <td>2h compress in two days</td>
                    <td>High</td>
                    <td>Not Started</td>
                    <td>0%</td>
                </tr>
                <tr class="clickable-row" id="project1-task2">
                    <td>Task2 Project1</td>
                    <td>The second test task</td>
                    <td>10h compress in one week</td>
                    <td>Medium</td>
                    <td>Started</td>
                    <td>55%</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="project2-tasks" hidden>
        <table id="tasks-table">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Details</th>
                    <th>Duration</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" id="project1-task1">
                    <td>Task1 Project2</td>
                    <td>The first test task</td>
                    <td>2h compress in two days</td>
                    <td>High</td>
                    <td>Not Started</td>
                    <td>0%</td>
                </tr>
                <tr class="clickable-row" id="project1-task2">
                    <td>Task2 Project2</td>
                    <td>The second test task</td>
                    <td>10h compress in one week</td>
                    <td>Medium</td>
                    <td>Started</td>
                    <td>55%</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- SECTION PROJECTS - PROJECT - TASK - TODOS -->
    <section id="project1-task1-todos" hidden>
        <table id="todos-table">
            <thead>
                <tr>
                    <th>ToDo Name</th>
                    <th>Details</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ToDo1 Task1 Project1</td>
                    <td>The first test todo</td>
                    <td>1.5h compress in one day</td>
                    <td>In Progress</td>
                    <td>10%</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>ToDo2 Task1 Project1</td>
                    <td>The second test todo</td>
                    <td>0.5h compress in one day</td>
                    <td>Not Started</td>
                    <td>0%</td>
                    <td>10%</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="project1-task2-todos" hidden>
        <table id="todos-table">
            <thead>
                <tr>
                    <th>ToDo Name</th>
                    <th>Details</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ToDo1 Task2 Project1</td>
                    <td>The first test todo</td>
                    <td>1.5h compress in one day</td>
                    <td>In Progress</td>
                    <td>10%</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>ToDo2 Task2 Project1</td>
                    <td>The second test todo</td>
                    <td>0.5h compress in one day</td>
                    <td>Not Started</td>
                    <td>0%</td>
                    <td>10%</td>
                </tr>
            </tbody>
        </table>
    </section>

</section>

<script type="text/javascript" src="src/handlers/projectsHandler.js"></script>