<!-- SECTION TESTS -->
<section>
    <div>
        <button id="timer">0:0:0</button>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
    </div>
</section>

<section>
    <div>
        <input type="text" name="name">
        <input type="text" name="description">
        <input type="text" name="status">
        <input type="text" name="priority">
        <input type="button" value="Create" id="create">
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
        </table>       
    </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="src/classes/subtask.js"></script>
<script type="text/javascript" src="src/classes/task.js"></script>
<script type="text/javascript" src="src/classes/timer.js"></script>
<script type="text/javascript" src="src/handlers/testsHandler.js"></script>