<!-- SECTION TESTS -->
<section>
    <div>
        <button id="timer">0:0:0</button>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
    </div>
</section>

<section>
    <div>
        <input type="text" name="name">
        <input type="text" name="description">
        <input type="text" name="status">
        <input type="text" name="priority">
        <input type="button" value="Create">
    </div>
    <div>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Details</th>
                <th>Duration</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="src/handlers/testsHandler.js"></script>