<!-- SECTION TESTS -->
<section>
    <div>
        <button id="timer">0:0:0</button>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
    </div>
</section>

<script type="text/javascript" src="src/handlers/testsHandler.js"></script>