<!-- SECTION TESTS -->
<section>
    <div>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <form action="/tests" method="post"></form>
            <input id="timer" name="timer" value="0:0:0">
            <input type="button" value="Save">
        </form>
    </div>
</section>

<section>
    <div>
        <form action="/tests" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="description" placeholder="description">
            <input type="text" name="status" placeholder="status">
            <input type="text" name="priority" placeholder="priority">
            <input type="submit" value="Create" id="create">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="tasks">
                <tr>
                    {{#each this}}
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{status}}</td>
                        <td>{{priority}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>       
    </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="src/classes/subtask.js"></script>
<script type="text/javascript" src="src/classes/task.js"></script>
<script type="text/javascript" src="src/classes/timer.js"></script>
<script type="text/javascript" src="src/handlers/testsHandler.js"></script>