<!-- SECTION TESTS -->
<section>
    <div>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <form action="/tests" method="post"></form>
            <input id="timer" name="timer" value="0:0:0">
            <input type="button" value="Save">
        </form>
    </div>
</section>

<section>
    <div>
        <form action="/tests" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="description" placeholder="description">
            <select name="status" id="status">
                <option value="in-progress">In Progress</option>
                <option value="not-started">Not Started</option>
                <option value="finished">Finished</option>
            </select>
            <select name="priority" id="priority">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
            <input type="submit" value="Add" id="add1">
        </form>
        <form action="/tests" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="submit" value="Add" id="add2">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {{#each this}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{status}}</td>
                        <td>{{priority}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>       
    </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="src/classes/subtask.js"></script>
<script type="text/javascript" src="src/classes/task.js"></script>
<script type="text/javascript" src="src/classes/timer.js"></script>
<script type="text/javascript" src="src/handlers/testsHandler.js"></script>